body {
    margin: 0;
}

p {
    font-size: 18px;
    color: hsl(241, 100%, 89%);
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 500;
}

h1 {
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 800;
    font-size: 4rem;
    line-height: 0;
}

h2 {
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 700;
    line-height: 2;
}



li {
    border-radius: 12px;
    list-style-type: none;
    padding-left: 20px;
    margin: 15px 0;
}

img {
    margin-bottom: -3px;
}

.result {
    width: 375px;
    min-width: 375px;
    border-radius: 30px;
    text-align: center;
    color: hsl(0, 0%, 100%);
    background-image: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    padding: 20px;
    z-index: 2;
}

h3.result-title {
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    color: hsl(241, 100%, 89%);
    line-height: 2;
}

.result-description {
    width: 60%;
    margin: 0 auto;

}

.container {
    margin: 200px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.score-circle {
    padding: 40px;
    margin: 0 auto;
    min-width: none;
    width: 100px;
    height: 100px;
    text-align: center;
    border-radius: 100%;
    background-image: linear-gradient(to bottom, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
}

/* summary */
.summary {
    border-radius: 30px;
    box-shadow: 20px 15px 30px -5px hsl(221, 100%, 96%);
    margin-left: -50px;
    padding: 40px 40px 40px 90px;
    z-index: 1;
    min-width: 375px;
}

.summary-title {
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 700;
    color: hsl(224, 30%, 27%);
}

/* list */
.list {
    padding: 0;
    width: 350px;
}

.item-scores {
    color: hsl(224, 30%, 27%);
    display: inline-block;
}

.memory {
    background-color: hsl(39, 100%, 95%);
}

.reaction {
    background-color: hsl(0, 100%, 97%);
}

.verbal {
    background-color: hsl(166, 100%, 90%);
}

.visual {
    background-color: hsl(234, 85%, 95%);
}

.memory-title {
    display: inline-block;
    color: hsl(39, 100%, 56%);
}

.reaction-title {
    display: inline-block;
    color: hsl(0, 100%, 67%);
}

.verbal-title {
    display: inline-block;
    color: hsl(166, 100%, 37%);
}

.visual-title {
    display: inline-block;
    color: hsl(234, 85%, 45%);
}

.btn {
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 21px;
    background: hsl(224, 30%, 27%);
    padding: 15px 30px;
    text-decoration: none;
    border: none;
    width: 350px;
    margin: 25px auto 0;
}

.btn:hover {
    background: hsl(241, 81%, 54%);
    background-image: linear-gradient(to bottom, hsl(241, 81%, 54%), hsl(252, 100%, 67%));
}

.attribution {
    text-align: center;
}

@media only screen and (max-width: 375px) {
    .result {
        margin: -30px 0 0;
        padding: 40px 0 30px;
        width: 50%;
        height: 400px;
    }

    .result-description {
        width: 80%;
    }

    .summary {
        margin: -80px 0 0;
        padding: 90px 0 40px;
        width: 50%;
    }

    .summary-title {
        margin-left: 40px;
    }

    .container {
        margin: 0;
    }

    .list {
        margin: 15px auto;
        width: 300px;
    }

    .btn {
        margin-left: 40px;
        width: 300px;
    }
}